/// Test vector: `{{ data_set }}/{{ name }}`
///
/// ```yaml
{% for line in content -%}
///{{ line | indent(1, true) }}
{% endfor -%}
/// ```
///
/// See file: `{{ data_set }}/{{ name }}.yaml`
pub const {{ name | upper | replace("/","_") }}: &str = indoc::indoc! { r###"
{% for line in content -%}
{{ line |  indent(2, true) }} {%- if loop.last %}"### };{% endif %}
{% endfor -%}
